@media (max-width:1440px){

}

@media (max-width:1280px){
	.footermenu{margin-left:0px;}
	.copyright-menu{margin-left:0px;}
}

@media (max-width:1200px){
	.custome-nav>li>a {padding:20px 15px;}
	.custome-nav>li:last-child>a {padding-right:0px;}
}

@media (max-width:991px){
	body{padding-top:53px;}
	.navbar-custome .navbar-brand{max-width:140px;}
	.navbar-custome .navbar-nav>li>a {font-size:11px;}
	.custome-nav>li>a {padding:16px 6px;}
	.whatisTwinzy{width:70%;}
	.feature-imbbox{max-width: 480px; margin:0 auto;}
	.contact-section{padding:25px 0px;}
	.address-box{padding-top:0px;}
	.address-list li span:last-child{font-size:15px;}
	.available-content{height:320px;}
	.available-text h1{font-size:26px;}
	.available-text p{font-size:15px;}
	.common-blogbox .image-box{max-width: 100%;}
	.common-blogbox .content-box{width: 100%;padding: 10px 0px;}
}

@media (max-width:767px){
	.custome-nav{margin:0px;}
	.navbar-custome .navbar-brand{padding:9px 0px 9px 15px;}
	.navbar-custome .navbar-nav>li>a {font-size:12px;}
	.custome-nav>li>a {padding:11px 10px; font-size:13px; border-bottom:1px solid #eee; text-align:center; font-weight:600;}
	.banner-imgbox{background-size:100%;}
	.whatisTwinzy{margin-top:40vw; width:65%;}
	.feature-textbox h2{font-size:20px; margin-bottom:3px;}
	.fmatching-section{margin-top:20px;}
	.face-matching{transform:none; margin-top:0px; max-width:100%;}
	.fmatching-parent{padding:15px;}
	.matching-content{padding:15px 0px 0px 0px; max-width:100%;}
	.primium-section{padding:20px 0px;}
	.certificate-box{padding-left:0px;}
	.certificate-box h1{font-size:24px; padding-left:55px;}
	.certificate-icon{top:-6px;}
	.certificate-box p{font-size:15px;}
	.contact-box{margin-top:25px;}
	.contact-form{margin-top:10px;}
	.available-storeSec{padding:25px 0px;}
	.available-mobile{margin:0 auto;}
	.available-content{height:auto; padding-bottom:0px;}
	.socual-list{float:none; display:block; width:215px; margin:0 auto;}
	
	.common-blogbox .image-box{max-width:100%;width:100%;}
	.common-blogbox .content-box{max-width:100%;width:100%;padding:0px;}
	.common-blogbox{padding:10px;}
	.socialicons-box{margin:10px 0px;text-align:left;}
	.common-blogbox .image-box{margin:0 0 10px;}
	.heading-black{font-size:26px;}
	.common-blogbox .common-heading{font-size:20px;}
	.category-box ul li{font-size:16px;}
	.tags-box ul li .btn{font-size:16px;}
	.blog-inner .right-section .btn-red{font-size:18px;}
	.category-box .heading{font-size:20px;}
	.tags-box .heading{font-size:20px;}
	.social-media .heading{font-size:20px;}
	.social-media ul li i{font-size:25px;}
	.common-blogbox.detail .image-box{max-width:400px;display:block;margin-bottom:20px;float:none;margin-right:0px;}
    .comment-bottom-box input.form-control{width:100%;}	
 }

@media (max-width:600px){

}

@media (max-width:480px){
	.whatisTwinzy h1{font-size:22px; margin-bottom:5px;}
	.feature-list{padding-left:70px;}
	.feature-iconbox{width:56px; height:56px; border-radius:56px;}
	.feature-list:last-child{padding-left:0px; text-align:center; margin-top:15px;}
	.primium-text h1{font-size:24px;}
	.primium-text p{font-size:14px;}
	.certificate-section{margin-top:10px;}
	.primium-iconbox{width:65px; height:65px; border-radius:65px; padding:4px;}
	.primium-textbox h3{font-size:20px;}
	.contact-box h1{font-size:24px;}
	.footer-left{padding:0px;}
	.foot-logo{position:relative; left:auto; top:auto; margin:0px auto 10px auto;}
	.footermenu, .copyright-menu{text-align:center; margin-bottom:10px;}
}

@media (max-width:360px){

}

@media (max-width:320px){
	
}