@import url("font-awesome.min.css");

*, html{
  padding:0;
  margin:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding:0; margin:0; padding-top:60px;
  background:#fff;
  backface-visibility:hidden;
}
input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], 
select {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  box-shadow: none!important;
  border-radius: 2px;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important;}

.common-container{width:100%; max-width:1200px; margin:0 auto; padding:0px 15px;}
.common-container:after{content:''; display:table-cell; clear:both;}
.r{box-shadow:inset 0px 0px 10px red;}
.padd0{padding:0px!important;} .padd5{padding:5px!important;} .padd10{padding:10px!important;}
.mt0{margin-top: 0px!important;} .mt1{margin-top: 1px!important;} .mt2{margin-top: 2px!important;}
.mt3{margin-top: 3px!important;} .mt4{margin-top: 4px!important;} .mt5{margin-top: 5px!important;}
.mt6{margin-top: 6px!important;} .mt7{margin-top: 7px!important;} .mt8{margin-top: 8px!important;}
.mt9{margin-top: 9px!important;} .mt10{margin-top: 10px!important;} .mt11{margin-top: 11px!important;}
.mt12{margin-top: 12px!important;} .mt13{margin-top: 13px!important;} .mt14{margin-top: 14px!important;}
.mt15{margin-top: 15px!important;} .mt16{margin-top: 16px!important;} .mt17{margin-top: 17px!important;}
.mt18{margin-top: 18px!important;} .mt19{margin-top: 19px!important;} .mt20{margin-top: 20px!important;}
.mt21{margin-top: 21px!important;} .mt22{margin-top: 22px!important;} .mt23{margin-top: 23px!important;}
.mt24{margin-top: 24px!important;} .mt25{margin-top: 25px!important;} .mt26{margin-top: 26px!important;}
.mt27{margin-top: 27px!important;} .mt28{margin-top: 28px!important;} .mt29{margin-top: 29px!important;}
.mt30{margin-top: 30px!important;} .mt35{margin-top: 35px!important;} .mt40{margin-top: 40px!important;}
.mt45{margin-top: 45px!important;} .mt50{margin-top: 50px!important;}

.mb0{margin-bottom: 0px!important;} .mb1{margin-bottom: 1px!important;} .mb2{margin-bottom: 2px!important;}
.mb3{margin-bottom: 3px!important;} .mb4{margin-bottom: 4px!important;} .mb5{margin-bottom: 5px!important;}
.mb6{margin-bottom: 6px!important;} .mb7{margin-bottom: 7px!important;} .mb8{margin-bottom: 8px!important;}
.mb9{margin-bottom: 9px!important;} .mb10{margin-bottom: 10px!important;} .mb11{margin-bottom: 11px!important;}
.mb12{margin-bottom: 12px!important;} .mb13{margin-bottom: 13px!important;} .mb14{margin-bottom: 14px!important;}
.mb15{margin-bottom: 15px!important;} .mb16{margin-bottom: 16px!important;} .mb17{margin-bottom: 17px!important;}
.mb18{margin-bottom: 18px!important;} .mb19{margin-bottom: 19px!important;} .mb20{margin-bottom: 20px!important;}
.mb21{margin-bottom: 21px!important;} .mb22{margin-bottom: 22px!important;} .mb23{margin-bottom: 23px!important;}
.mb24{margin-bottom: 24px!important;} .mb25{margin-bottom: 25px!important;} .mb26{margin-bottom: 26px!important;}
.mb27{margin-bottom: 27px!important;} .mb28{margin-bottom: 28px!important;} .mb29{margin-bottom: 29px!important;}

.pt0{padding-top: 0px!important;} .pt1{padding-top: 1px!important;} .pt2{padding-top: 2px!important;}
.pt3{padding-top: 3px!important;} .pt4{padding-top: 4px!important;} .pt5{padding-top: 5px!important;}
.pt6{padding-top: 6px!important;} .pt7{padding-top: 7px!important;} .pt8{padding-top: 8px!important;}
.pt9{padding-top: 9px!important;} .pt10{padding-top: 10px!important;} .pt11{padding-top: 11px!important;}
.pt12{padding-top: 12px!important;} .pt13{padding-top: 13px!important;} .pt14{padding-top: 14px!important;}
.pt15{padding-top: 15px!important;} .pt16{padding-top: 16px!important;} .pt17{padding-top: 17px!important;}
.pt18{padding-top: 18px!important;} .pt19{padding-top: 19px!important;} .pt20{padding-top: 20px!important;}
.pt21{padding-top: 21px!important;} .pt22{padding-top: 22px!important;} .pt23{padding-top: 23px!important;}
.pt24{padding-top: 24px!important;} .pt25{padding-top: 25px!important;} .pt26{padding-top: 26px!important;}
.pt27{padding-top: 27px!important;} .pt28{padding-top: 28px!important;} .pt29{padding-top: 29px!important;}
.pt30{padding-top: 30px!important;}

.pb0{padding-bottom: 0px!important;} .pb1{padding-bottom: 1px!important;} .pb2{padding-bottom: 2px!important;}
.pb3{padding-bottom: 3px!important;} .pb4{padding-bottom: 4px!important;} .pb5{padding-bottom: 5px!important;}
.pb6{padding-bottom: 6px!important;} .pb7{padding-bottom: 7px!important;} .pb8{padding-bottom: 8px!important;}
.pb9{padding-bottom: 9px!important;} .pb10{padding-bottom: 10px!important;} .pb11{padding-bottom: 11px!important;}
.pb12{padding-bottom: 12px!important;} .pb13{padding-bottom: 13px!important;} .pb14{padding-bottom: 14px!important;}
.pb15{padding-bottom: 15px!important;} .pb16{padding-bottom: 16px!important;} .pb17{padding-bottom: 17px!important;}
.pb18{padding-bottom: 18px!important;} .pb19{padding-bottom: 19px!important;} .pb20{padding-bottom: 20px!important;}
.pb21{padding-bottom: 21px!important;} .pb22{padding-bottom: 22px!important;} .pb23{padding-bottom: 23px!important;}
.pb24{padding-bottom: 24px!important;} .pb25{padding-bottom: 25px!important;} .pb26{padding-bottom: 26px!important;}
.pb27{padding-bottom: 27px!important;} .pb28{padding-bottom: 28px!important;} .pb29{padding-bottom: 29px!important;}
.pb30{padding-bottom: 30px!important;}

.btn-white{background:#fff; border:1px solid #fff; color:#000!important;}
.btn-blue{background:#0683c9; border:1px solid #0683c9; color:#fff!important;}
.center-hr{margin:0px auto 40px auto; width:100%; max-width:1024px; border-top:1px solid #ccc;}

.navbar-custome{position:fixed; top:0px; left:0px; right:0px; width:100%; margin-bottom:0px; border:0px solid transparent; background-color:#fff; border-color:transparent; border-radius:0px; box-shadow:0px 0px 5px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.2); z-index:20;}
.navbar-custome .navbar-brand{display:block; width:100%; max-width:170px; height:auto; padding:10px 0px; margin-left:0px!important;}
.navbar-custome .navbar-brand img{width:100%;height:auto;}
.custome-nav>li>a{padding:20px 20px;}
.navbar-custome .navbar-nav>li>a{color:#525252; font-size:12px;}
.navbar-custome .navbar-nav>li>a:hover{color:#2d81a6; font-weight:600;}
.navbar-custome .navbar-nav>li>a.active{color:#2d81a6; font-weight:600;}
.navbar-toggle {padding:4px 10px 3px 10px; margin-top:10px; font-size:18px; border-radius:2px;}

.banner-section{display:block; width:100%; position:relative; height:auto;}
.banner-section:after{content:''; display:table; clear:both;}
.banner-imgbox{display:block; width:100%; height:auto; position:relative; background-image:url(../images/banner.png); background-repeat:no-repeat; background-size:cover; background-position:top center;}
.banner-imgbox:after{content:''; display:table; clear:both;}
/*.banner-imgbox img{width:100%; height:auto;}*/
.whatisTwinzy{display:inline-block; width:60%; float:right; margin-top:590px;}
.whatisTwinzy h1{margin:0; color:#2d81a6; font-size:30px; margin-bottom:5px;}
.whatisTwinzy h2{margin:0; color:#2d81a6; font-size:30px; margin-bottom:5px;}
.whatisTwinzy p{margin:0; color:#444444; font-size:14px; line-height:1.7; text-align:justify;}
.feature-content{display:block; width:100%; text-align:center; height:300px;}
.feature-text{width:100%; max-width:680px; margin:40px auto;}
.feature-text .feature-icon{width:60px; height:auto; margin:0 auto;}
.feature-text h1{margin:8px 0px; color:#2d81a6; font-size:28px;}
.feature-text h2{margin:8px 0px; color:#2d81a6; font-size:28px;}
.feature-text p{margin:0; color:#444444; font-size:14px; line-height:1.7;}

.feature-section{display:block; width:100%; position:relative; margin-top:-90px;}
.feature-listbox{display:block; width:100%; position:relative; height:auto; overflow:hidden;}
.feature-list{display:table; width:100%; height:100px; position:relative; padding-left:80px; background:transparent;}
.feature-iconbox{position:absolute; left:2px; top:50%; width:65px; height:65px; border-radius:65px; padding:5px; background:#fff; box-shadow:0px 0px 3px rgba(0,0,0,0.3); margin-top:-38px; z-index:1;}
.feature-iconbox img{display:block; width:100%; height:100%; border-radius:65px; border:1px solid #2d81a6; padding:8px;}
.feature-textbox{display:table-cell; width:100%; height:100%; position:relative; vertical-align:middle;}
.feature-textbox h2{margin:0px; color:#2d81a6; font-size:22px;}
.feature-textbox p{margin:0px; color:#444444; font-size:14px;}
.feature-textbox h3{margin:0px; color:#444; font-size:20px; margin-bottom:15px;}
.feature-textbox h3 span{font-weight:700;}
.feature-imbbox{display:block; width:100%; max-width:480px; height:auto;}
.feature-imbbox img{width:100%; height:auto;}

.fmatching-section{display:block; width:100%; height:auto; position:relative; margin-top:100px;}
.fmatching-parent{background-image:url(../images/background-face.png); background-repeat:no-repeat; background-size:cover; background-position:bottom center;}
.face-matching{width:100%; max-width:500px; transform:rotate(-15deg); -webkit-transform:rotate(-15deg); -ms-transform:rotate(-15deg); margin-top:25px;}
.face-matching img{width:100%; height:auto;}
.matching-content{display:block; width:100%; height:auto; padding:40px 0px; max-width:460px;}
.faceimg{width:60px; height:auto;}
.matching-content h1{margin:0px; margin-bottom:5px; color:#fff; font-weight:300; font-size:30px;}
.matching-content h2{margin:0px; margin-bottom:5px; color:#fff; font-weight:300; font-size:30px;}
.matching-content p{margin:0px; color:#fff; font-size:16px; font-weight:200;}
.face-list{margin:0; padding:0; list-style:none; margin-top:15px;}
.face-list li{position:relative; display:block; width:100%; padding:10px 10px 10px 30px; color:#fff; font-size:16px; font-weight:200;}
.face-list li span.circle-check{position:absolute; left:0px; top:8px; width:24px; height:24px; border-radius:24px; border:1px solid #fff;}
.face-list li span.circle-check:before{content:''; position:absolute; top:4px; left:8px; width:5px; height:12px; border-right:1px solid #fff; border-bottom:1px solid #fff; transform:rotate(36deg); -webkit-transform:rotate(36deg); -ms-transform:rotate(36deg);}

.primium-section{display:block; width:100%; position:relative; padding:50px 0px;}
.primium-text{margin:0 auto; width:100%; max-width:767px; text-align:center;}
.primium-text .primiumicon{width:80px; height:auto;}
.primium-text h1{margin:8px 0; color:#2d81a6; font-size:28px;}
.primium-text h2{margin:8px 0; color:#2d81a6; font-size:28px;}
.primium-text p{margin:0px; font-size:15px; color:#444;}

.primium-box{display:block; width:100%; position:relative; text-align:center; margin-top:40px;}
.primium-iconbox{display:inline-block; width:75px; height:75px; border-radius:75px; padding:6px; background:#fff; box-shadow:0px 0px 3px rgba(0,0,0,0.3);}
.primium-iconbox img{display:block; width:100%; height:100%; border-radius:80px; border:1px solid #2d81a6;}
.primium-textbox{width:100%; height:100%; position:relative;}
.primium-textbox h3{margin:5px 0; color:#2d81a6; font-size:22px;}
.primium-textbox p{margin:0px; color:#444444; font-size:14px;}

.certificate-section{display:block; width:100%; position:relative; padding-top:40px; padding-bottom:30px; background:#f8f8f8; border-top:1px solid #f1f1f1;}
.certificate-box{display:block; width:100%; height:auto; position:relative; /*padding-left:53px;*/}

/*.certificate-block	{ margin: 0 auto; max-width: 257px;}*/

.certificate-box .textright {border-right: 1px solid #ddd;padding-right: 12px;}
.certificate-box p { max-width: 278px;}

.certificate-icon{position:absolute; left:-122px; top:0px; height:26px; width:auto;}
.certificate-box h1{margin:0px; margin-bottom:10px; color:#444; font-size:28px;}
.certificate-box h2{margin:0px; margin-bottom:10px; color:#444; font-size:28px;}
.certificate-box p{margin-bottom:20px; font-size:15px; color:#444;}
.img-trust{display:inline-block; width:100%; max-width:90px; margin:0px auto 10px auto;}

.testimonial-box{display:block; width:100%; position:relative; text-align:center; margin-top:10px;}
.testimonial-content{display:inline-block; width:100%; color:#666; padding:20px 0px 25px 0px;}
.client-imgbox{display:inline-block; width:90px; height:90px; border-radius:90px; margin-bottom:10px; box-shadow:0px 0px 25px rgba(0,0,0,0.6); overflow:hidden;}
.client-imgbox img{width:100%; height:auto;}
.testimonial-content p{margin:0px; color:#666; font-size:15px;}
.testimonial-content h4.tittle-text{font-style:italic; margin-top:10px; color:#2d81a6!important; font-size:14px;}
.testimonial-indicators{margin-bottom:-10px;}
.testimonial-indicators li {background-color:#a3a3a3; border:0px; margin:0px 1px; width:10px; height:10px;}
.testimonial-indicators .active {background-color:#2d81a6; border:0px; margin:0px 1px; width:10px; height:10px;}

.contact-section{display:block; width:100%; position:relative; padding:50px 0px;
  background: #ccc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ccc, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ccc, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ccc, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ccc, #fff); /* Standard syntax */
}
.address-box{display:inline-block; width:100%; text-align:center; padding-top:30px;}
.contact-logo{display:inline-block; width:100%; max-width:180px; height:auto; margin-bottom:20px;}
.contact-logo img{width:100%; height:auto;}

.address-box h4{margin:0px; margin-bottom:5px; color:#2d81a6; font-weight:600;}
.address-box p{margin:0px; color:#444; font-size:14px;}
.address-list{padding:0px; margin:0px; margin-top:10px; list-style:none;}
.address-list li{position:relative; width:100%; margin:2px 0px;}
.address-list li:after{content:''; display:table; clear:both;}
.address-list li span{float:left; width:50%; padding:5px 5px; font-weight:600;}
.address-list li span:first-child{text-align:right; font-size:14px; line-height:20px;}
.address-list li span:last-child{text-align:left; color:#2d81a6; font-size:15px;}

.contact-box{display:block; width:100%; position:relative; text-align:center;}
.contact-box h1{margin:0px; color:#2d81a6; font-size:28px;}
.contact-box h2{margin:0px; color:#2d81a6; font-size:28px;}
.contact-box p{margin:0px; color:#555; font-size:15px;}
.contact-form{margin-top:20px;}
.contact-form .form-group{margin-bottom:0px;}
.contact-form input.form-control{color:#444; height:44px; border-radius:4px; border:1px solid #a5a5a5; margin-bottom:12px;}
.contact-form select.form-control{color:#444; height:44px; border-radius:4px; border:1px solid #a5a5a5; margin-bottom:12px;}
.contact-form textarea.form-control{color:#444; height:100px; border-radius:6px; border:1px solid #a5a5a5; resize:none; margin-bottom:10px;}
.contact-form .btn-submit{display:block; width:100%; background:#2d81a6; color:#fff; padding:8px 10px; font-size:20px; font-weight:600;}

.available-storeSec{display:block; width:100%; background-image:url(../images/available-store.jpg); background-repeat:no-repeat; background-size:cover; background-position:center center;}
.available-mobile{width:100%; max-width:320px; height:auto; margin-top:-50px;}
.available-mobile img{width:100%; height:auto;}
.available-content{display:table; width:100%; max-width:590px; margin:0 auto; height:360px; padding-bottom:20px;}
.available-text{display:table-cell; width:100%; height:100%; vertical-align:bottom; text-align:center;}
.available-text h1{margin:0px; margin-bottom:10px; color:#fff; font-size:30px;}
.available-text h1 span{font-weight:700;}
.available-text h2{margin:0px; margin-bottom:10px; color:#fff; font-size:30px;}
.available-text h2 span{font-weight:700;}
.available-text p{margin:0px; margin-bottom:15px; margin-top:5px; color:#fff; font-size:16px;}

footer{background:#fff; padding:5px 0px;}
.footer-left{width:100%; position:relative; padding:12px 0px 12px 50px;}
.foot-logo{position:absolute; width:50px; height:auto; left:0px; top:8px;}
.foot-logo img{width:100%; height:100%;}
.footermenu{margin:0px; margin-left:10px; padding:0px; list-style:none;}
.footermenu li{display:inline-block;}
.footermenu li a{display:block; padding:0px 9px; color:#2d81a6; font-weight:600; font-size:12px;}
.copyright-menu{margin:0px; padding:0px; margin-left:10px; margin-top:2px; list-style:none;}
.copyright-menu li{display:inline-block; color:#000; font-size:12px; padding:0px 20px 0px 10px; position:relative;}
.copyright-menu li a{color:#000; text-decoration:none;}
.copyright-menu li:before{content:'|'; position:absolute; right:0px; top:0px;}
.copyright-menu li:last-child:before{content:'';}

.socual-list{display:inline-block; float:right; width:auto; margin-top:18px;}
.socual-list ul{margin:0px; padding:0px; list-style:none;}
.socual-list ul li{display:inline-block; width:32px; height:32px; line-height:32px; border-radius:32px; text-align:center; background:#fff; border:1px solid #ddd; margin:0px 2px;}
.socual-list ul li a{display:block; color:#0ba4e0; text-decoration:none; font-size:16px;}
.socual-list ul li:hover{background:#0ba4e0; border:1px solid #0ba4e0;}
.socual-list ul li:hover a{color:#fff;}



/******blog-section*******/



.blog-banner{max-width:34;height:45;}
.blog-banner img{width:30%;height:100%;}
.common-blogbox .image-box {max-width:280px;height:auto;display:inline-block;border:10px solid #fdfdfd; border-top:0px solid #fdfdfd;  border-radius:5px;box-shadow: 0 0 10px #999;}
.common-blogbox .image-box img{width:100%;height:100%;}
.common-blogbox .content-box{display:inline-block;width:calc(100% - 285px);vertical-align:top;padding:0px 10px  0px 20px;}
.blog-inner	{padding-top: 20px;padding-bottom: 49px;}
.heading-black{font-size:36px;font-weight:bold;margin-top:2px;}
.common-blogbox{border:1px solid #ddd;border-top:0px;box-shadow:0 5px 2px #d6d6d6;padding:10px 30px 30px 30px;margin:0 0 20px;border-radius: 6px;}
.common-blogbox:last-child{margin-bottom:5px;}
.common-blogbox  .common-heading{color:#2d81a6;font-size:30px;margin-top: 0px;}
.content-box p{text-align:justify;font-size:16px; word-break: break-all;}
.common-button .btn.save-btn{min-width:125px;background:#2e82a6;border-radius:5px;box-shadow:0 0 10px #ccc!important;font-weight:bold;color:#fff;font-size:18px;}
.common-blogbox .content-box ul li{display:inline-block;margin-right:40px;font-size:14px;color:#323232;}
.common-blogbox .content-box ul li:last-child{margin:0px;}
.socialicons-box {text-align:right;}
.common-blogbox .content-box .socialicons-box ul li {margin-right:20px;}
.socialicons-box ul li a i{font-size:25px;}
.blog-inner .right-section  form{padding:10px 40px;margin: 0 0 20px;}
.blog-inner .right-section  .custom-formcontrol{color: #444;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #a5a5a5;
    margin-bottom: 12px;
}
.blog-inner .right-section .btn-red{width:100%;background-color:#2d81a6;font-size:26px;color:#fff;}
.blog-inner .right-section .category-box{box-shadow:0 0 5px;margin:0 0 25px;}
.category-box .heading{background:#2e82a6;color:#fff;margin:0px;padding:10px;text-align:center;font-size:24px;}
.category-box ul li{list-style:none;padding:10px;font-size:17px;color:#000;border-bottom:2px solid #b3b3b3;}
.category-box ul li span{padding-left:10px;}
.blog-inner .right-section .tags-box{box-shadow:0 0 5px;margin:0 0 25px;}
.tags-box .heading{background:#2e82a6;color:#fff;margin:0px;padding:10px;text-align:center;font-size:24px;}
.tags-box ul{padding:10px;}
.tags-box ul  li{display:inline-block;margin-bottom:5px;}
.tags-box ul  li .btn{box-shadow: 2px 3px 4px 0px #ccc !important;border-radius:8px;background:#c2c2c2;font-size:18px;color:#fff;}
.social-media .heading{background:#2e82a6;color:#fff;margin:0px;padding:10px;text-align:center;font-size:24px;}
 .right-section .social-media {box-shadow:0 0 5px;margin:0 0 25px;}
 .social-media ul {padding: 20px 10px;text-align:center;}
.social-media ul li{display:inline-block;margin-right:20px;}
.social-media ul li:last-child{margin:0px;}

.search-form input{background: url(../images/search.png) no-repeat 97% 50% / 25px;}

.custom-formcontrol::-webkit-input-placeholder { 
 color:#c2c2c2;
}
.custom-formcontrol::-moz-placeholder { /* Firefox 19+ */
color:#c2c2c2;
}
.custom-formcontrol:-ms-input-placeholder { /* IE 10+ */
color:#c2c2c2;
}
.custom-formcontrol:-moz-placeholder { /* Firefox 18- */
 color:#c2c2c2;
}
.common-blogbox.detail .image-box{max-width:400px;display:block;margin-bottom:20px;float:left;margin-right:20px;}


/*****comment-section*******/
.comment-section ul{margin:0 0 20px;}
.comment-section ul li{list-style:none;}
.comment-profile .image-box{max-width:50px;height:auto;float:left;width:100%;}
.comment-profile .image-box img{width:100%;height:100%;}
.comment-profile  h4{float:left;padding-left: 15px;}
.comment-profile .commented{margin-top:10px; word-wrap: break-word;}
.comment-profile{border: 1px solid #ddd;  
border-top: 0px;
box-shadow: 0 5px 2px #d6d6d6;
padding: 10px 30px 30px 30px;
margin: 0 0 20px;
border-radius: 6px;}

.comment-bottom-box input.form-control{color:#444;width:30%; height:44px; border-radius:4px; border:1px solid #a5a5a5; margin-bottom:12px;}
.comment-bottom-box textarea.form-control{color:#444; height:100px; border-radius:6px; border:1px solid #a5a5a5; resize:none; margin-bottom:10px;}
/*word-*/

.formating p{/*clear: both;*/word-wrap: break-word;}
/*.formating{max-width: calc(100% - 400px);float: left;}*/
.posted h5{float:left;}

.common-button.left{float: left;}
ul.icon-list{margin:0;padding: 0;}
ul.icon-list li {list-style-type: none;display: inline-block;
margin-right: 6px;}
.common-blogbox .content-box .socialicons-box ul.icon-list li {margin-right: 6px;}